interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService?wsdl
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:tns=\"http://serviciosjava.afip.gob.ar/wslpg/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" name=\"wslpg\" targetNamespace=\"http://serviciosjava.afip.gob.ar/wslpg/\">\n\t<wsdl:types>\n\t\t<xsd:schema
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" targetNamespace=\"http://serviciosjava.afip.gob.ar/wslpg/\">\n\t\t\t<xsd:element
        name=\"dummyResp\" type=\"tns:dummyRespType\" />\n\t\t\t<xsd:complexType name=\"dummyRespType\">\n\t\t\t\t<xsd:sequence>\n\t\t\t\t\t<xsd:element
        name=\"return\" type=\"tns:returnDummyRespType\" maxOccurs=\"1\" minOccurs=\"1\"
        />\n\t\t\t\t</xsd:sequence>\n\t\t\t</xsd:complexType>\n\n\t\t\t<xsd:complexType
        name=\"returnDummyRespType\">\n\t\t\t\t<xsd:sequence>\n\t\t\t\t\t<xsd:element
        name=\"appserver\" type=\"xsd:string\" />\n\t\t\t\t\t<xsd:element name=\"authserver\"
        type=\"xsd:string\" />\n\t\t\t\t\t<xsd:element name=\"dbserver\" type=\"xsd:string\"
        />\n\t\t\t\t</xsd:sequence>\n\t\t\t</xsd:complexType>\n\n\t\t\t<xsd:element
        name=\"liquidacionResp\" type=\"tns:LpgLiqRespType\">\n\t\t\t</xsd:element>\n\n\t\t\t<xsd:complexType
        name=\"LpgLiqReturnType\">\n\t\t\t\t<xsd:sequence>\n\n\t\t\t\t\t<xsd:element
        name=\"autorizacion\" type=\"tns:LpgLiquidacionRespType\" maxOccurs=\"1\"
        minOccurs=\"0\">\n\t\t\t\t\t\t<xsd:annotation>\n\t\t\t\t\t\t\t<xsd:documentation>\n\t\t\t\t\t\t\t\tDatos
        resultantes del procesamiento de\n\t\t\t\t\t\t\t\tla o las\n\t\t\t\t\t\t\t\tliquidaciones\n\t\t\t\t\t\t\t</xsd:documentation>\n\t\t\t\t\t\t</xsd:annotation>\n\t\t\t\t\t</xsd:element>\n\t\t\t\t\t<xsd:element
        name=\"errores\" type=\"tns:LpgArrErrorType\" maxOccurs=\"1\" minOccurs=\"0\">\n\t\t\t\t\t</xsd:element>\n\t\t\t\t\t<xsd:element
        name=\"erroresFormato\" type=\"tns:LpgArrErrorType\" maxOccurs=\"1\" minOccurs=\"0\"
        />\n\t\t\t\t\t<xsd:elem[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:liqUltNroOrdenReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth><ptoEmision>1</ptoEmision></ser:liqUltNroOrdenReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/liquidacionUltimoNroOrdenConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:liqUltNroOrdenResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><liqUltNroOrdenReturn><nroOrden>0</nroOrden></liqUltNroOrdenReturn></ns2:liqUltNroOrdenResp></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:provinciasReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:provinciasReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/provinciasConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:provinciasResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><provinciasReturn><provincias><codigoDescripcion><codigo>1</codigo><descripcion>BUENOS
        AIRES</descripcion></codigoDescripcion><codigoDescripcion><codigo>0</codigo><descripcion>CAP.FEDERAL</descripcion></codigoDescripcion><codigoDescripcion><codigo>2</codigo><descripcion>CATAMARCA</descripcion></codigoDescripcion><codigoDescripcion><codigo>16</codigo><descripcion>CHACO</descripcion></codigoDescripcion><codigoDescripcion><codigo>17</codigo><descripcion>CHUBUT</descripcion></codigoDescripcion><codigoDescripcion><codigo>3</codigo><descripcion>CORDOBA</descripcion></codi[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:tipoGranoReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:tipoGranoReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/tipoGranoConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:tipoGranoResp
        xmlns:ns2=\"http://serviciosjava.afip.gob.ar/wslpg/\"><tipoGranoReturn><granos><codigoDescripcion><codigo>1</codigo><descripcion>LINO</descripcion></codigoDescripcion><codigoDescripcion><codigo>2</codigo><descripcion>GIRASOL</descripcion></codigoDescripcion><codigoDescripcion><codigo>3</codigo><descripcion>MANI
        EN CAJA</descripcion></codigoDescripcion><codigoDescripcion><codigo>4</codigo><descripcion>GIRASOL
        DESCASCARADO</descripcion></codigoDescripcion><codigoDescripcion><codigo>5</codigo><descripcion>MANI
        PARA INDUSTRIA DE SELECCION</descripcion><[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:campaniaReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:campaniaReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/campaniasConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:campaniaResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><campaniaReturn><campanias><codigoDescripcion><codigo>2526</codigo><descripcion>2025/2026</descripcion></codigoDescripcion><codigoDescripcion><codigo>2425</codigo><descripcion>2024/2025</descripcion></codigoDescripcion><codigoDescripcion><codigo>2324</codigo><descripcion>2023/2024</descripcion></codigoDescripcion><codigoDescripcion><codigo>2223</codigo><descripcion>2022/2023</descripcion></codigoDescripcion><codigoDescripcion><codigo>2122</codigo><descripcion>2021/2022</descripcion></codigoDescripcion><codigoDescripcion><codigo>2021</codigo><descripcion>2020/2021</descripcion></codigoDescripcion><codigoDescripcion><codigo>1920</codigo><descripcion>2019/2020</descripcion></codigoDescripcion><codigoDescripcion><codigo>1819</codigo><descripcion>2018/2019</descripcion></codigoDescripcion><codigoDescripcion><codigo>1718</codigo><descripcion>2017/2018</descripcion></codigoDescripcion><codigoDescripcion><codigo>1617</codigo><descripcion>2016/2017</descripcion></codigoDescripcion></campanias></campaniaReturn></ns2:campaniaResp></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:puertoReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:puertoReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/puertoConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:puertoResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><puertoReturn><puertos><codigoDescripcion><codigo>1</codigo><descripcion>SAN
        LORENZO/SAN MARTIN</descripcion></codigoDescripcion><codigoDescripcion><codigo>2</codigo><descripcion>ROSARIO</descripcion></codigoDescripcion><codigoDescripcion><codigo>3</codigo><descripcion>BAHIA
        BLANCA</descripcion></codigoDescripcion><codigoDescripcion><codigo>4</codigo><descripcion>NECOCHEA</descripcion></codigoDescripcion><codigoDescripcion><codigo>5</codigo><descripcion>RAMALLO</descripcion></codigoDescripcion><codigoD[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:tipoActividadReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:tipoActividadReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/tipoActividadConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:tipoActividadResp
        xmlns:ns2=\"http://serviciosjava.afip.gob.ar/wslpg/\"><tipoActividadReturn><tiposActividad><codigoDescripcion><codigo>41</codigo><descripcion>FRACCIONADOR
        DE GRANOS </descripcion></codigoDescripcion><codigoDescripcion><codigo>29</codigo><descripcion>ACOPIADOR
        - CONSIGNATARIO</descripcion></codigoDescripcion><codigoDescripcion><codigo>33</codigo><descripcion>CANJEADOR
        DE BIENES Y/O SERVICIOS POR GRANO</descripcion></codigoDescripcion><codigoDescripcion><codigo>40</codigo><descripcion>EXPORTADOR</descripcion></codigoDescripcion><codigoDescripcion><codigo>31</codi[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:tipoDeduccionReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:tipoDeduccionReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/tipoDeduccionConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:tipoDeduccionResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><tipoDeduccionReturn><tiposDeduccion><codigoDescripcion><codigo>CO</codigo><descripcion>Comision
        o Gastos Administrativos</descripcion></codigoDescripcion><codigoDescripcion><codigo>AL</codigo><descripcion>Almacenaje</descripcion></codigoDescripcion><codigoDescripcion><codigo>OD</codigo><descripcion>Otras
        Deducciones</descripcion></codigoDescripcion></tiposDeduccion></tipoDeduccionReturn></ns2:tipoDeduccionResp></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:tipoRetencionReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:tipoRetencionReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/tipoRetencionConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:tipoRetencionResp
        xmlns:ns2=\"http://serviciosjava.afip.gob.ar/wslpg/\"><tipoRetencionReturn><tiposRetencion><codigoDescripcion><codigo>RI</codigo><descripcion>I.V.A.</descripcion></codigoDescripcion><codigoDescripcion><codigo>RG</codigo><descripcion>Impuesto
        a las Ganancias</descripcion></codigoDescripcion><codigoDescripcion><codigo>IB</codigo><descripcion>Ingresos
        Brutos</descripcion></codigoDescripcion><codigoDescripcion><codigo>OG</codigo><descripcion>Otros
        Grav\xE1menes</descripcion></codigoDescripcion></tiposRetencion></tipoRetencionReturn></ns2:tipoRetencionResp></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:gradoReferenciaReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:gradoReferenciaReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/codigoGradoReferenciaConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:gradoReferenciaResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><gradoRefReturn><gradosRef><codigoDescripcion><codigo>G1</codigo><descripcion>Grado
        1</descripcion></codigoDescripcion><codigoDescripcion><codigo>G2</codigo><descripcion>Grado
        2</descripcion></codigoDescripcion><codigoDescripcion><codigo>G3</codigo><descripcion>Grado
        3</descripcion></codigoDescripcion></gradosRef></gradoRefReturn></ns2:gradoReferenciaResp></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:tipoCertificadoDepReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth></ser:tipoCertificadoDepReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/tipoCertificadoDepositoConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S=\"http://schemas.xmlsoap.org/soap/envelope/\"><S:Body><ns2:tipoCertificadoDepResp
        xmlns:ns2=\"http://serviciosjava.afip.gob.ar/wslpg/\"><tipoCertDepReturn><tiposCertDep><codigoDescripcion><codigo>332</codigo><descripcion>Certificado
        Electr\xF3nico de Dep\xF3sito</descripcion></codigoDescripcion></tiposCertDep></tipoCertDepReturn></ns2:tipoCertificadoDepResp></S:Body></S:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:gradoEntregadoReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth><codGrano>1</codGrano></ser:gradoEntregadoReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/codigoGradoEntregadoXTipoGranoConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:gradoEntregadoResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><gradoEntReturn><gradoEnt><gradoEnt><codigoDescripcion><codigo>G1</codigo><descripcion>Grado
        1</descripcion></codigoDescripcion><valor>1.01</valor></gradoEnt><gradoEnt><codigoDescripcion><codigo>G2</codigo><descripcion>Grado
        2</descripcion></codigoDescripcion><valor>1.00</valor></gradoEnt><gradoEnt><codigoDescripcion><codigo>G3</codigo><descripcion>Grado
        3</descripcion></codigoDescripcion><valor>0.985</valor></gradoEnt><gradoEnt><codigoDescripcion><codigo>FG</codigo><descripcion>Fuera
        de Grado (FG)</descripcion></codigoDescripcion><valor>0</valor></gradoEnt><gradoEnt><codigoDescripcion><codigo>F1</codigo><descripcion>Grado
        1 (FG)</descripcion></codigoDescripcion><valor>0</valor></gradoEnt><gradoEnt><codigoDescripcion><codigo>F2</codigo><descripcion>Grado
        2 (FG)</descripcion></codigoDescripcion><valor>0</valor></gradoEnt><gradoEnt><codigoDescripcion><codigo>F3</codigo><descripcion>Grado
        3 (FG)</descripcion></codigoDescripcion><valor>0</valor></gradoEnt></gradoEnt></gradoEntReturn></ns2:gradoEntregadoResp></S:Body></S:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://serviciosjava.afip.gob.ar/wslpg/">

      <soapenv:Header/>

      <soapenv:Body><ser:localidadReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuit>20111111112</cuit></auth><codProvincia>24</codProvincia></ser:localidadReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://serviciosjava.afip.gob.ar/wslpg/localidadXProvinciaConsultar
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslpg/LpgService
  response:
    body:
      string: <?xml version='1.0' encoding='UTF-8'?><S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"><S:Body><ns2:localidadResp
        xmlns:ns2="http://serviciosjava.afip.gob.ar/wslpg/"><localidadesReturn><localidades><codigoDescripcion><codigo>899</codigo><descripcion>ASERRADERO
        ARROYO</descripcion></codigoDescripcion><codigoDescripcion><codigo>985</codigo><descripcion>BAHIA
        LAPATAIA</descripcion></codigoDescripcion><codigoDescripcion><codigo>1345</codigo><descripcion>BASE
        AEREA TENIENTE MATIENZO</descripcion></codigoDescripcion><codigoDescripcion><codigo>1346</codigo><descripcion>BASE
        AEREA VICECOMOD MARAMBIO</descripcion></codigoDescripcion><codigoDescripcion><codigo>1350</c[...]
