interactions:
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="http://a13.soap.ws.server.puc.sr/">

      <soapenv:Header/>

      <soapenv:Body><ser:getIdPersonaListByDocumento><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada><documento>12345678</documento></ser:getIdPersonaListByDocumento></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - ''
    method: POST
    uri: https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA13
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:getIdPersonaListByDocumentoResponse
        xmlns:ns2="http://a13.soap.ws.server.puc.sr/"><idPersonaListReturn><idPersona>20000037584</idPersona><idPersona>24000123451</idPersona><idPersona>20120039548</idPersona><idPersona>27890000334</idPersona><idPersona>20123456789</idPersona><idPersona>27123456780</idPersona><idPersona>20123456782</idPersona><idPersona>24123456781</idPersona><idPersona>20123456786</idPersona><idPersona>23890001459</idPersona><metadata><fechaHora>2026-06-16T01:43:23.315-03:00</fechaHora><servidor>setiwsh2</servidor></metadata></idPersonaListReturn></ns2:getIdPersonaListByDocumentoResponse></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
