interactions:
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:dummy/></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/dummy
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><serverTime>16/06/2026
        01:43:23 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781585003574ms</elapsedTime></soap:Header><soap:Body><ns2:DummyResp
        xmlns:ns2="https://serviciosjava.afip.gob.ar/wslca/"><respuesta><appserver>Ok</appserver><authserver>Ok</authserver><dbserver>Ok</dbserver></respuesta></ns2:DummyResp></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarProvinciasReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth></ser:ConsultarProvinciasReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/consultarProvincias
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><serverTime>16/06/2026
        01:43:24 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781585003863ms</elapsedTime></soap:Header><soap:Body><ns2:ConsultarProvinciasResp
        xmlns:ns2="https://serviciosjava.afip.gob.ar/wslca/"><respuesta><provincia><codigo>0</codigo><descripcion>CAP.FEDERAL</descripcion></provincia><provincia><codigo>1</codigo><descripcion>BUENOS
        AIRES</descripcion></provincia><provincia><codigo>2</codigo><descripcion>CATAMARCA</descripcion></provincia><provincia><codigo>3</codigo><descripcion>CORDOBA</descripcion></provincia><provincia><codigo>4</codigo><descripcion>CORRIENTES</descripcion></provincia><provincia><codigo>5</codigo><descripcion>ENTRE
        RIOS</descripcion></provincia><provincia><codigo>6</codigo><descripcion>JUJUY</descripcio[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarTributosReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth></ser:ConsultarTributosReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/consultarTributos
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: "<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap:Header><serverTime>16/06/2026
        01:43:24 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781585004143ms</elapsedTime></soap:Header><soap:Body><ns2:ConsultarTributosResp
        xmlns:ns2=\"https://serviciosjava.afip.gob.ar/wslca/\"><respuesta><tributo><codigo>9</codigo><descripcion>Otras
        Percepciones</descripcion></tributo><tributo><codigo>8</codigo><descripcion>Percepciones
        por Impuestos Municipales</descripcion></tributo><tributo><codigo>7</codigo><descripcion>Percepci\xF3n
        de IIBB</descripcion></tributo><tributo><codigo>6</codigo><descripcion>Percepci\xF3n
        de IVA</descripcion></tributo><tributo><codigo>5</codigo><descripcion>IIBB</descripcion></tributo><tributo><codigo>1</codigo><descripcion>Impuestos
        nacionales</descripcion></tributo><tributo><codigo>3</codigo><descripcion>Impuestos
        municipales</descripcion></tributo><tributo><codigo>2</codigo><descripcion>Impuestos
        provinciales</descripcion></tributo><tributo><codigo>99</codigo><descripcion>Otros</descripcion></tributo><tributo><codigo>4</codigo><descripcion>Impuestos
        internos</descripcion></tributo><errores/><metadata><servidor>fiscaws-homoext01</servidor><fechaHora>2026-06-16T01:43:24.228-03:00</fechaHora></metadata></respuesta></ns2:ConsultarTributosResp></soap:Body></soap:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarTiposComprobanteReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth></ser:ConsultarTiposComprobanteReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/consultarTiposComprobante
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: "<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap:Header><serverTime>16/06/2026
        01:43:24 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781585004266ms</elapsedTime></soap:Header><soap:Body><ns2:ConsultarTiposComprobanteResp
        xmlns:ns2=\"https://serviciosjava.afip.gob.ar/wslca/\"><respuesta><tipoComprobante><codigo>171</codigo><descripcion>Liquidaci\xF3n
        de Compra de Ca\xF1a de Az\xFAcar Clase A</descripcion></tipoComprobante><tipoComprobante><codigo>172</codigo><descripcion>Liquidaci\xF3n
        de Compra de Ca\xF1a de Az\xFAcar Clase B</descripcion></tipoComprobante><errores/><metadata><servidor>fiscaws-homoext01</servidor><fechaHora>2026-06-16T01:43:24.291-03:00</fechaHora></metadata></respuesta></ns2:ConsultarTiposComprobanteResp></soap:Body></soap:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
