interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap?wsdl
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:tns=\"https://serviciosjava.afip.gob.ar/wslca/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" name=\"wslca\" targetNamespace=\"https://serviciosjava.afip.gob.ar/wslca/\">\n
        \ <wsdl:types>\n<xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:tns=\"https://serviciosjava.afip.gob.ar/wslca/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" targetNamespace=\"https://serviciosjava.afip.gob.ar/wslca/\">\n
        \       \n  <xsd:complexType name=\"Auth\">\n            \n    <xsd:sequence>\n
        \       \n        \n      <xsd:element maxOccurs=\"1\" minOccurs=\"1\" name=\"token\"
        type=\"xsd:string\">\n        </xsd:element>\n        \n        \n      <xsd:element
        maxOccurs=\"1\" minOccurs=\"1\" name=\"sign\" type=\"xsd:string\">\n        </xsd:element>\n
        \       \n        \n      <xsd:element maxOccurs=\"1\" minOccurs=\"1\" name=\"cuitRepresentada\"
        type=\"tns:CUIT\">\n        </xsd:element>\n        \n    </xsd:sequence>\n
        \ </xsd:complexType>\n        \n  <xsd:complexType name=\"Codi[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:dummy/></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/dummy
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><serverTime>16/06/2026
        08:22:20 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781608940459ms</elapsedTime></soap:Header><soap:Body><ns2:DummyResp
        xmlns:ns2="https://serviciosjava.afip.gob.ar/wslca/"><respuesta><appserver>Ok</appserver><authserver>Ok</authserver><dbserver>Ok</dbserver></respuesta></ns2:DummyResp></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarProvinciasReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth></ser:ConsultarProvinciasReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/consultarProvincias
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><serverTime>16/06/2026
        08:22:20 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781608940514ms</elapsedTime></soap:Header><soap:Body><ns2:ConsultarProvinciasResp
        xmlns:ns2="https://serviciosjava.afip.gob.ar/wslca/"><respuesta><provincia><codigo>0</codigo><descripcion>CAP.FEDERAL</descripcion></provincia><provincia><codigo>1</codigo><descripcion>BUENOS
        AIRES</descripcion></provincia><provincia><codigo>2</codigo><descripcion>CATAMARCA</descripcion></provincia><provincia><codigo>3</codigo><descripcion>CORDOBA</descripcion></provincia><provincia><codigo>4</codigo><descripcion>CORRIENTES</descripcion></provincia><provincia><codigo>5</codigo><descripcion>ENTRE
        RIOS</descripcion></provincia><provincia><codigo>6</codigo><descripcion>JUJUY</descripcio[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarTributosReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth></ser:ConsultarTributosReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/consultarTributos
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: "<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap:Header><serverTime>16/06/2026
        08:22:20 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781608940591ms</elapsedTime></soap:Header><soap:Body><ns2:ConsultarTributosResp
        xmlns:ns2=\"https://serviciosjava.afip.gob.ar/wslca/\"><respuesta><tributo><codigo>9</codigo><descripcion>Otras
        Percepciones</descripcion></tributo><tributo><codigo>8</codigo><descripcion>Percepciones
        por Impuestos Municipales</descripcion></tributo><tributo><codigo>7</codigo><descripcion>Percepci\xF3n
        de IIBB</descripcion></tributo><tributo><codigo>6</codigo><descripcion>Percepci\xF3n
        de IVA</descripcion></tributo><tributo><codigo>5</codigo><descripcion>IIBB</descripcion></tributo><tributo><codigo>1</codigo><descripcion>Impuestos
        nacionales</descripcion></tributo><tributo><codigo>3</codigo><descripcion>Impuestos
        municipales</descripcion></tributo><tributo><codigo>2</codigo><descripcion>Impuestos
        provinciales</descripcion></tributo><tributo><codigo>99</codigo><descripcion>Otros</descripcion></tributo><tributo><codigo>4</codigo><descripcion>Impuestos
        internos</descripcion></tributo><errores/><metadata><servidor>fiscaws-homoext01</servidor><fechaHora>2026-06-16T08:22:20.633-03:00</fechaHora></metadata></respuesta></ns2:ConsultarTributosResp></soap:Body></soap:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wslca/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarTiposComprobanteReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth></ser:ConsultarTiposComprobanteReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wslca/consultarTiposComprobante
    method: POST
    uri: https://fwshomo.afip.gov.ar/wslca/services/soap
  response:
    body:
      string: "<soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap:Header><serverTime>16/06/2026
        08:22:20 GMT-03:00</serverTime><serverName>fiscaws-homoext01</serverName><elapsedTime>1781608940677ms</elapsedTime></soap:Header><soap:Body><ns2:ConsultarTiposComprobanteResp
        xmlns:ns2=\"https://serviciosjava.afip.gob.ar/wslca/\"><respuesta><tipoComprobante><codigo>171</codigo><descripcion>Liquidaci\xF3n
        de Compra de Ca\xF1a de Az\xFAcar Clase A</descripcion></tipoComprobante><tipoComprobante><codigo>172</codigo><descripcion>Liquidaci\xF3n
        de Compra de Ca\xF1a de Az\xFAcar Clase B</descripcion></tipoComprobante><errores/><metadata><servidor>fiscaws-homoext01</servidor><fechaHora>2026-06-16T08:22:20.699-03:00</fechaHora></metadata></respuesta></ns2:ConsultarTiposComprobanteResp></soap:Body></soap:Envelope>"
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
