interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eapoc-ws-qaext.afip.gob.ar/Service.asmx?WSDL
  response:
    body:
      string: "<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:tns=\"http://tempuri.org/\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:http=\"http://schemas.microsoft.com/ws/06/2004/policy/http\"
        xmlns:msc=\"http://schemas.microsoft.com/ws/2005/12/wsdl/contract\" xmlns:wsp=\"http://schemas.xmlsoap.org/ws/2004/09/policy\"
        xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"
        xmlns:wsam=\"http://www.w3.org/2007/05/addressing/metadata\" targetNamespace=\"http://tempuri.org/\"
        name=\"Service\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\n  <wsdl:types>\n
        \   <xsd:schema elementFormDefault=\"qualified\" targetNamespace=\"http://tempuri.org/\">\n
        \     <xsd:element name=\"Dummy\">\n        <xsd:complexType />\n      </xsd:element>\n
        \     <xsd:element name=\"DummyResponse\">\n        <xsd:complexType>\n          <xsd:sequence>\n
        \           <xsd:element minOccurs=\"0\" maxOccurs=\"1\" name=\"DummyResult\"
        type=\"tns:DummyResponseType\" />\n          </xsd:sequence>\n        </xsd:complexType>\n
        \     </xsd:element>\n      <xsd:element name=\"GetAll\">\n        <xsd:complexType>\n
        \         <xsd:sequence>\n            <xsd:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"Credencial\" type=\"tns:Credencial\" />\n          </xsd:sequence>\n
        \       </xsd:complexType>\n      [...]
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Header/>\n<soap:Body>\n
      \   <Dummy xmlns=\"http://tempuri.org/\">\n    </Dummy>\n</soap:Body>\n</soap:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://tempuri.org/Service/Dummy
    method: POST
    uri: https://eapoc-ws-qaext.afip.gob.ar/Service.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n  <s:Header>\n    <env-description
        xmlns=\"s\">qa</env-description>\n    <env-version xmlns=\"s\">v1.0.12</env-version>\n
        \   <exec-ts xmlns=\"s\">06/16/2026 08:22:21</exec-ts>\n  </s:Header>\n  <s:Body>\n
        \   <DummyResponse xmlns=\"http://tempuri.org/\">\n      <DummyResult>\n        <appserver>OK</appserver>\n
        \       <dbserver>OK</dbserver>\n        <authserver>NO</authserver>\n      </DummyResult>\n
        \   </DummyResponse>\n  </s:Body>\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
    status:
      code: 200
      message: OK
- request:
    body: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n<soap:Header/>\n<soap:Body>\n
      \   <GetPublicacionAPOC xmlns=\"http://tempuri.org/\">\n    <Credencial xmlns=\"http://tempuri.org/\"><Token
      xmlns=\"http://tempuri.org/\">TOKEN_SANITIZED</Token><Sign
      xmlns=\"http://tempuri.org/\">SIGN_SANITIZED</Sign><CUITDelegado
      xmlns=\"http://tempuri.org/\">20111111112</CUITDelegado></Credencial><cuit>20267565393</cuit></GetPublicacionAPOC>\n</soap:Body>\n</soap:Envelope>"
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - http://tempuri.org/Service/GetPublicacionAPOC
    method: POST
    uri: https://eapoc-ws-qaext.afip.gob.ar/Service.asmx
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n  <s:Header>\n    <env-description
        xmlns=\"s\">qa</env-description>\n    <env-version xmlns=\"s\">v1.0.12</env-version>\n
        \   <exec-ts xmlns=\"s\">06/16/2026 08:22:21</exec-ts>\n  </s:Header>\n  <s:Body>\n
        \   <GetPublicacionAPOCResponse xmlns=\"http://tempuri.org/\">\n      <GetPublicacionAPOCResult>\n
        \       <codigo>0</codigo>\n        <descripcion>OK</descripcion>\n        <resultados
        />\n      </GetPublicacionAPOCResult>\n    </GetPublicacionAPOCResponse>\n
        \ </s:Body>\n</s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset="UTF-8"
    status:
      code: 200
      message: OK
version: 1
