interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cpea-ws-qaext.afip.gob.ar/wscpe/services/soap?wsdl
  response:
    body:
      string: "<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:tns=\"https://serviciosjava.afip.gob.ar/wscpe/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" name=\"wscpe\" targetNamespace=\"https://serviciosjava.afip.gob.ar/wscpe/\">\n
        \ <wsdl:types>\n<xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:tns=\"https://serviciosjava.afip.gob.ar/wscpe/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" targetNamespace=\"https://serviciosjava.afip.gob.ar/wscpe/\">\n\t\t\t\n
        \ <xsd:complexType name=\"Auth\">\n\t\t\t\t\n    <xsd:sequence>\n\t\t\t\t\t<!--
        OK! -->\n\t\t\t\t\t\n      <xsd:element maxOccurs=\"1\" minOccurs=\"1\" name=\"token\"
        type=\"xsd:string\">\n\t\t\t\t\t</xsd:element>\n\n\t\t\t\t\t\n      <xsd:element
        maxOccurs=\"1\" minOccurs=\"1\" name=\"sign\" type=\"xsd:string\">\n\t\t\t\t\t</xsd:element>\n\n\t\t\t\t\t\n
        \     <xsd:element maxOccurs=\"1\" minOccurs=\"1\" name=\"cuitRepresentada\"
        type=\"tns:CUIT\">\n\t\t\t\t\t</xsd:element>\n\t\t\t\t\n    </xsd:sequence>\n\t\t\t\n
        \ </xsd:complexType>\n\t\t\t\n  <xsd:complexType name=\"Codi[...]
- request:
    body: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
      xmlns:ser="https://serviciosjava.afip.gob.ar/wscpe/">

      <soapenv:Header/>

      <soapenv:Body><ser:ConsultarUltNroOrdenReq><auth><token>TOKEN_SANITIZED</token><sign>SIGN_SANITIZED</sign><cuitRepresentada>20111111112</cuitRepresentada></auth><solicitud><sucursal>1</sucursal><tipoCPE>74</tipoCPE></solicitud></ser:ConsultarUltNroOrdenReq></soapenv:Body></soapenv:Envelope>'
    headers:
      content-type:
      - text/xml; charset="UTF-8"
      soapaction:
      - https://serviciosjava.afip.gob.ar/wscpe/consultarUltNroOrden
    method: POST
    uri: https://cpea-ws-qaext.afip.gob.ar/wscpe/services/soap
  response:
    body:
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Header><serverTime>18/06/2026
        19:28:01 GMT-03:00</serverTime><serverName>cpea-ws-deployment-6885df7ddf-7q564</serverName><elapsedTime>1781821681640ms</elapsedTime><id>20260618072801774biDcYggfoAGsXdgaEKmZadWUJfsbePsP</id></soap:Header><soap:Body><ns2:ConsultarUltNroOrdenResp
        xmlns:ns2="https://serviciosjava.afip.gob.ar/wscpe/"><respuesta><nroOrden>0</nroOrden><errores/><metadata><servidor>cpea-ws-deployment-6885df7ddf-7q564</servidor><fechaHora>2026-06-18T19:28:01</fechaHora></metadata></respuesta></ns2:ConsultarUltNroOrdenResp></soap:Body></soap:Envelope>
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    status:
      code: 200
      message: ''
version: 1
